/* // Keith Singletary
// Springboard Meme Generator

// Description: This is js code for my meme generator. This generator takes an input img url, 
// text for the top of the Image, and text for the bottom, and creates a meme out of these inputs. 
// You have the option to delete the meme, or add more!  */



/* inputs and button to submit meme */

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(228, 226, 223);
}

h1 {
    text-align: center;
    margin-right: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    text-decoration: underline;
    color: rgb(168, 87, 103);
}

#submitter{
    width: 50%;
    padding: 8px 9px;
    margin: 8px 0;
    margin-left: 22%;
    box-sizing: border-box;
    border-radius: 25px 25px 25px 35px ;
    background-color: rgb(230, 249, 246);
    box-shadow: 0px 10px 20px 20px rgb(160, 160, 160);
    font-family: monospace;
    font-size: 120%;
}

input[type=text]{
    height: 25px;
    width: 60%;
    font-size: 15px;
    font-style: italic;
    padding: .1%;
}

label {
    margin-right: 8%;
    margin-left: 8%;
}


button {
    background-color: rgb(200, 219, 246);
    padding: 8px 18px;
    width: 90%;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(180, 107, 121);
    color: rgb(174, 223, 243);
    cursor: pointer;
  }

/* meme / container construction */

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.meme, img {
    font-size: 25px;
    width: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    margin: 50px auto;
    padding: 0;
    z-index: 2;
    display: inline-block;
    block-size: 400px;
    display: flex;
    justify-content: space-around;
}


.top {
    position: absolute;
    top: 14%;
    text-align: center;
    color: #ffffff;
    z-index: 4;
    font-weight: bolder;
    -webkit-text-stroke: 3.3px black;
    font-size: 35px;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: -10%;
    text-align: center;
    color: #ffffff;
    z-index: 4;
    font-weight: bolder;
    -webkit-text-stroke: 3.3px black;
    font-size: 35px;
    width: 100%;
}

/* hover for delete meme */

.meme:hover img{
    display: block;    
    opacity: .3;
    transition: all 600ms linear;
}

.delimg {
    display: none;
    width: 220px; 
    height: 220px; 
    position: absolute; 
    top: 26%; 
    left: 35%; 
    cursor: pointer;
}
